.navbar
{
	height: 75px;
    background-color: #000000;
}
.navbar-nav
{
	
	position:relative;
	top: 13px;
}
.navbar-nav li a
{
	 font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	 font-weight: 700;
	 font-size: 18px;
}
.carousel-inner
{
	
}
.carousel-inner .item > img
{
     position: relative;
	 top: 30px;
}
.small-banner
{
	
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(245,252,211);
	border-bottom: 1px solid #778899;
}
.heading
{  
	
	text-align: center;
}
.col-sm-4
{
	padding-bottom:  130px;

}
.col-sm-4 > a > img
{
	
	height: 280px;
	width: 210px;
}
.col-sm-4 > button
{
	
	position: absolute;
	bottom: 10px;
	left:20px;
	
}
.jumbo
{
	text-align:center;
	
	height:300px;
	background-color: #ffffcc;
}
.jumbo > h1
{
   text-align: center;
}
.jumbo >a > img
{
	display: block;
	margin: auto;
	height: 60px;
	width: 180px;
	margin-bottom: 20px;
	margin-top: 20px;
	
}
.hidden-xs{
	background-color: #4d4d4d;
}
.hidden-xs  ul  li  a
{
	  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	  font-weight: 700;
	  font-size: 15px;
	  color: white;
	  position: relative;
	  top:30px;
	  left: 50px;
	  padding-top: 10px;
}
.social-media
{
	background-color: #4d4d4d;
	padding: 80px;
	
}
#copyright
{
	background-color: #1a1a1a;
	padding: 8px;
	color: #f0f0f0;
}